<div class="row equal-height">

    <!-- Form Space -->
    <div class="form_container row">
        <div class="first_column eight wide column">
        </div>
        <div class="form_box eight wide column">
            <img class="start_img" src="/img/startHere.png">
            <form class="horizontal-form">
                <div class="form_row">
                    <label class="form_label" for="vin">VIN</label><br>
                    <input class="form_input" type="text" id="vin" name="input1">
                </div>
                <div class="form_row">
                    <label class="form_label" for="make">MAKE</label><br>
                    <input class="form_input" type="text" id="make" name="input2">
                </div>
                <div class="form_row">
                    <label class="form_label" for="model">MODEL</label><br>
                    <input class="form_input" type="text" id="model" name="input3">
                </div>
                <div class="form_row">
                    <label class="form_label" for="year">YEAR</label><br>
                    <input class="form_input" type="text" id="year" name="input4">
                </div>
            </form>
            <input type="submit" value="CONTINUE">
        </div>
    </div>
</div>

<!-- Guide & Customer Reviews -->
<div class="guideContainer">
    <div class="main-container">
        <div class="guideCustomer">
            <div class="circle">
                <div class="guide-text">
                    <h2 class="number">1.</h2>
                    <p class="text">SEND US THE CAR DETAILS</p>
                </div>
                <img id="details-img" class="guide_img" src="/img/HPM_ICON_CAR%20DETAILS.png" alt="Image 1">
            </div>
            <div class="circle">
                <div class="guide-text">
                    <h2 class="number">2.</h2>
                    <p class="text">BOOK YOUR APPOINTMENT</p>
                </div>
                <img id="date-img" class="guide_img" src="/img/HPM_ICON_DATE.png" alt="Image 2">
            </div>
            <div class="circle">
                <div class="guide-text">
                    <h2 class="number">3.</h2>
                    <p class="text">GET YOUR CHECK</p>
                </div>
                <img id="check-img" class="guide_img" src="/img/HPM_ICON_CHECK.png" alt="Image 3">
            </div>
        </div>

        <!-- Cards -->
        <div class="card-row">
            <div class="card">
                <h2 class="card-title">E.Xample</h2>
                <p class="card-text">“ I wanted a good car, instead I got a great one! “</p>
                <p class="card-bottom">G.Reat</p>
            </div>
            <div class="card">
                <h2 class="card-title">C.Ustomer</h2>
                <p class="card-text">“ I wanted a good car, instead I got a great one! “</p>
                <p class="card-bottom">S.Ervice</p>
            </div>
            <div class="card">
                <h2 class="card-title">R.Eview</h2>
                <p class="card-text">“ I wanted a good car, instead I got a great one! “</p>
                <p class="card-bottom">E.Veryday</p>
            </div>
        </div>
    </div>
</div>
