<div class="row equal-height">

    <!-- Form Space -->
    <div class="form_container row" id='start_here'>
        <div class="first_column eight wide column">
        </div>
        <div class="form_box eight wide column" id='car_details'>
            <img class="start_img" src="/img/startHere.png" alt='Start Here Picture'>
            <form class="horizontal-form">
                <div class="form_row">
                    <label class="form_label" for="vin">VIN</label><br>
                    <input class="form_input" type="number" pattern="\d+" id="vin" name="vin" required>
                </div>
                <div class="form_row">
                    <label class="form_label" for="make">MAKE</label><br>
                    <input class="form_input" type="text" id="make" name="make" required>
                </div>
                <div class="form_row">
                    <label class="form_label" for="model">MODEL</label><br>
                    <input class="form_input" type="text" id="model" name="model" required>
                </div>
                <div class="form_row">
                    <label class="form_label" for="year">YEAR</label><br>
                    <input class="form_input" type="number" pattern="\d+" id="year" name="year" required>
                </div>
            </form>
            <input type="submit" value="CONTINUE" onclick='changeBetweenDetailsAndStart()'>
        </div>

        <div class="form_box eight wide column" id='additional_details'>
            <form action='#' class="horizontal-form">
                <div class="form_row">
                    <label class='form_label' for='accident'>Has Your Car Ever Been in an Accident?</label><br>
                    <input class='form_input' type='text' id='accident'>
                </div>
                <div class="form_row">
                    <label class='form_label' for='issue'>Does Your Car Have Cosmetic or Mechanical Issue?</label><br>
                    <input class='form_input' type='text' id='issue'>
                </div>
                <div class="form_row">
                    <label class='form_label' for='clear_title'>Do You Have a Clear Title?</label><br>
                    <span class='form_label'>Type "No" if your Vehicle is leased or Financed</span><br>
                    <input class='form_input' type='text' id='clear_title'>
                </div>
                <div class="form_row">
                    <label class='form_label' for='odometer'>What Does the Odometer Read?</label><br>
                    <input class='form_input' type='number' id='odometer'>
                </div>
                <div class="form_row">
                    <label class='form_label' for='zip_code'>ZIP Code</label><br>
                    <input class='form_input' type='number' id='zip_code'>
                </div>
                <div class="form_row">
                    <label class='form_label' for='email_address'>Email Address</label><br>
                    <input class='form_input' type='email' id='email_address'>
                </div>
                <div class="form_row">
                    <label class='form_label' for='phone_number'>Phone Number (Optional)</label><br>
                    <input class='form_input' type='number' id='phone_number'>
                </div>
            </form>
            <input type="submit" value="BACK" onclick='changeBetweenDetailsAndStart()'>
            <input type="submit" value="SEND" onclick='submitVehicleForm()'>
        </div>
    </div>
</div>

<!-- Guide & Customer Reviews -->
<div class="guideContainer">
    <div class="main-container">
        <div class="guideCustomer">
            <div class="circle">
                <div class="guide-text">
                    <h2 class="number">1.</h2>
                    <p class="text">SEND US THE CAR DETAILS</p>
                </div>
                <img id="details-img" class="guide_img" src="/img/HPM_ICON_CAR%20DETAILS.png" alt="Image 1">
            </div>
            <div class="circle">
                <div class="guide-text">
                    <h2 class="number">2.</h2>
                    <p class="text">BOOK YOUR APPOINTMENT</p>
                </div>
                <img id="date-img" class="guide_img" src="/img/HPM_ICON_DATE.png" alt="Image 2">
            </div>
            <div class="circle">
                <div class="guide-text">
                    <h2 class="number">3.</h2>
                    <p class="text">GET YOUR CHECK</p>
                </div>
                <img id="check-img" class="guide_img" src="/img/HPM_ICON_CHECK.png" alt="Image 3">
            </div>
        </div>

        <!-- Cards -->
        <div class="card-row">
            <div class="card">
                <h2 class="card-title">E.Xample</h2>
                <p class="card-text">“ I wanted a good car, instead I got a great one! “</p>
                <p class="card-bottom">G.Reat</p>
            </div>
            <div class="card">
                <h2 class="card-title">C.Ustomer</h2>
                <p class="card-text">“ I wanted a good car, instead I got a great one! “</p>
                <p class="card-bottom">S.Ervice</p>
            </div>
            <div class="card">
                <h2 class="card-title">R.Eview</h2>
                <p class="card-text">“ I wanted a good car, instead I got a great one! “</p>
                <p class="card-bottom">E.Veryday</p>
            </div>
        </div>
    </div>
</div>
