<!-- Guide & Customer Reviews -->
<div class="guideContainer">
    <div class="footer">
        <div class="footer-content">
            <div class="footer-text">
                <h3 class="footer-contact-title">CONTACT INFORMATION</h3>
                <h3 class="footer-contact">EXAMPLE STREET 123,<br>
                    SOMEWHERE, OVER THERE<br>
                    012 01234<br><br></h3>
                <h3 class="web-name footer-contact">WWW.BUYANYCARDPLACEHOLDER.COM</h3>
            </div>
            <img class="map_img" src="/img/test_map.png">
        </div>
    </div>
</div>
