<div class="row equal-height">

    <!-- Logo column (25%) -->
    <button class="burger-menu ui segment icon button" onclick="toggleMenu()">
        <i class="bars icon"></i>
    </button>

    <div class="header-area logo four wide column">
        <!-- Mobile Navbar -->
        <div class="ui segment vertical menu mobile-menu" id="mobile-menu" style="display: none;">
            <a href="/" class="item">HOME</a>
            <a href="/bookAppointment" class="item">BOOK YOUR APPOINTMENT</a>
            <a href="/howItWorks" class="item">HOW IT WORKS</a>
            <a href="/contactUs" class="item">CONTACT US</a>
            <a href="" class="item">Sign Up</a>
        </div>

        <img src="/img/HPM_LOGO.png" id="logo">
        <!-- Navbar -->
        <div class="header-navbar row ui equal-height" style="height: 54px">
            <div class="ui secondary menu"></div>
        </div>
        <!-- Filler space -->
        <div class="header-filler second_row row equal-height"></div>
        <!-- Motto with icon -->
        <div class="header-motto row equal-height">
        </div>
    </div>

    <!-- Content column (75%) -->
    <div class="header-area twelve wide column">

        <!-- Navbar -->
        <div id="header-navbar" class="header-navbar row ui equal-height">
            <div class="ui secondary menu">
                <a href="/" class="item">HOME</a>
                <a href="/bookAppointment" class="item">BOOK YOUR APPOINTMENT</a>
                <a href="/howItWorks" class="item">HOW IT WORKS</a>
                <a href="/contactUs" class="item">CONTACT US</a>
<!--                <a href="" class="item">SIGN UP</a>-->
                <a class="item" onclick='openModal()'>SIGN UP</a>
            </div>
        </div>

        <!-- Filler space -->
        <div class="header-filler second_row row equal-height"></div>
        <!-- Motto with icon -->
        <div class="row">
            <div class="header-motto ui grid">
                <div class="twelve wide column" style="width: auto !important;">
                    <h2 id="motto">We buy any car and we pay the best price!</h2>
                </div>
                <!-- <div id="cash_img_container" class="four wide column cash-container" >-->
                <div id="cash_img_container" class="column cash-container">
                    <img class="cash_img" src="/img/HPM_ICON_CASH.png"></img>
                    <!-- Replace 'icon-name' with your desired icon name from Fomantic UI -->
                </div>
            </div>
        </div>
    </div>

</div>
