<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>High Palm Motors</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Site core CSS -->
    <link rel="stylesheet" href="https://use.typekit.net/faj6ojr.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css?269ecf3">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
    <!--  Favicon  -->
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
</head>

<body>
<div class="ui stackable grid equal height">

    <%- include('header') %>

    <%- body; %>

    <%- include('footer') %>

    <!-- Sign Up Modal container -->
    <div id="signUpModal" class="modal">
        <!-- Modal content -->
        <div class="form_box eight wide column">
            <span class="close" onclick="closeModal('signUpModal')">CLOSE</span>
            <h2 class='form_label'>Sign Up</h2>

            <form class='signup_form'>
                <label class='form_label' for='signUpEmail'>Email</label>
                <br>
                <input class='form_input' type='email' id='signUpEmail' required>
                <br><br>
                <label class='form_label' for='signUpPassword'>Password</label>
                <br>
                <input class='form_input' type='password' id='signUpPassword' required>
                <br><br>
                <input type='submit' value='Sign Up' onclick='signUp()'>
            </form>
        </div>
    </div>

    <!-- Sign In Modal container -->
    <div id="signInModal" class="modal">
        <!-- Modal content -->
        <div class="form_box eight wide column">
            <span class="close" onclick="closeModal('signInModal')">CLOSE</span>
            <h2 class='form_label'>Sign In</h2>

            <form class='signup_form'>
                <label class='form_label' for='signInEmail'>Email</label>
                <br>
                <input class='form_input' type='email' id='signInEmail' required>
                <br><br>
                <label class='form_label' for='signInPassword'>Password</label>
                <br>
                <input class='form_input' type='password' id='signInPassword' required>
                <br><br>
                <input type='submit' value='Sign In' onclick='signIn()'>
            </form>
            <span>Don't have an account?</span>
            <a class="item" id='signUpButton' onclick='closeModal("signInModal"); openModal("signUpModal")'>SIGN UP</a>
            <br>
        </div>
    </div>

</div>

<script src="/public.js"></script>

</body>
</html>
